INSTANCE_ID={{ bubbleshot_instance_id }}

DB_HOST_PRIMARY={{ bubbleshot_db_host_primary }}
DB_HOST_STANDBY={{ bubbleshot_db_host_standby }}
DB_PORT_PRIMARY={{ bubbleshot_db_port_primary }}
DB_PORT_STANDBY={{ bubbleshot_db_port_standby }}
DB_NAME={{ bubbleshot_db_name }}
DB_USER={{ bubbleshot_db_user }}
DB_PASSWORD={{ bubbleshot_db_password }}

HOST={{ bubbleshot_backend_host }}
NEXT_PORT={{ bubbleshot_backend_port }}
CORS_ORIGIN={{ bubbleshot_cors_origin }}
